<section 
id="about"
class="
py-32
bg-white
">


<div 
class="
max-w-7xl
mx-auto
px-8
grid
lg:grid-cols-2
gap-16
items-center
">


<!-- IMAGE -->

<div
  class="
    h-[320px]
sm:h-[420px]
lg:h-[520px]
    rounded-3xl
    overflow-hidden
    relative
    bg-slate-100
    shadow-xl
  "
>
  <img
    src="/logo.jpeg"
    alt="Logo"
    class="
      w-full
      h-full
      object-cover
      object-center
      select-none
      pointer-events-none
    "
  />
</div>





<!-- CONTENT -->

<div>


<p
class="
uppercase
tracking-[5px]
text-teal-600
font-semibold
mb-5
">

About Us

</p>



<h2
class="
text-5xl
lg:text-6xl
font-bold
text-slate-900
leading-tight
">

Tree of life

</h2>




<p
class="
mt-6
text-lg
text-slate-600
leading-relaxed
">

At Yap Wellness Center, we believe recovery is more
than overcoming challenges. It is about rebuilding
confidence, restoring independence, and creating
a meaningful path forward.

</p>




<div
class="
mt-8
grid
grid-cols-1
md:grid-cols-2
gap-6
">


<div>

<h3
class="
text-3xl
font-bold
text-teal-600
">

VISION

</h3>

<p class="text-slate-600 mt-2">
Yap Wellness Center is a trusted institution dedicated to promoting mental health awareness and addiction recovery through guidance, education, and compassionate support. We empower clients, staff, and their families to achieve personal growth, resilience, and lasting well-being.</p>

<p class="text-slate-600 mt-2">
Our vision is to create a future where everyone has access to the resources and support needed to overcome mental health and addiction challenges. Through innovative programs and a strong community network, we strive to reduce stigma, inspire recovery, and foster lasting positive change.</p>

</div>



<div>

<h3
class="
text-3xl
font-bold
text-teal-600
">

MISSION

</h3>

<p class="text-slate-600 mt-2">
Yap Wellness Center provides creative, collaborative, and educational programs that support each client's unique journey toward health and well-being. Through holistic care, personalized support, and innovative wellness practices, we empower individuals to achieve lasting positive change while promoting healthier, more resilient communities.

</p>

</div>


</div>


</div>


</div>


</section>