<section
class="
py-20
lg:py-32
bg-slate-50
overflow-hidden
"
>


<div class="max-w-7xl mx-auto px-8 mb-12">


<p
class="
uppercase
tracking-[5px]
text-teal-600
font-semibold
mb-5
"
>
Our Environment
</p>


<h2
class="
text-4xl
lg:text-6xl
font-bold
text-slate-900
"
>
A Place Designed For Recovery
</h2>


<p
class="
mt-5
text-lg
text-slate-600
max-w-3xl
"
>
Explore our facility, spaces, activities, and environment
where individuals are supported throughout
their recovery journey.
</p>


</div>





<!-- MOVING GALLERY -->

<div
class="
relative
w-full
"
>


<div
class="
flex
gap-6
animate-scroll
w-max
"
>


{
[
"gallery1.jpg",
"gallery2.jpg",
"gallery3.jpg",
"gallery4.jpg",
"gallery5.jpg",
"gallery6.jpg"
].map((image) => (

<div
class="
w-[280px]
sm:w-[350px]
h-[240px]
sm:h-[300px]
rounded-3xl
overflow-hidden
bg-slate-200
flex-shrink-0
"
>

<img
src={`/images/${image}`}
alt="Yap Wellness Center facility"
class="
w-full
h-full
object-cover
"
/>

</div>

))
}



<!-- duplicate -->

{
[
"gallery1.jpg",
"gallery2.jpg",
"gallery3.jpg",
"gallery4.jpg",
"gallery5.jpg",
"gallery6.jpg"
].map((image) => (

<div
class="
w-[280px]
sm:w-[350px]
h-[240px]
sm:h-[300px]
rounded-3xl
overflow-hidden
bg-slate-200
flex-shrink-0
"
>

<img
src={`/images/${image}`}
alt="Yap Wellness Center facility"
class="
w-full
h-full
object-cover
"
/>

</div>

))
}


</div>


</div>


</section>


<style>

.animate-scroll{

animation: scroll 30s linear infinite;

}


.animate-scroll:hover{

animation-play-state: paused;

}



@keyframes scroll{

from{

transform:translateX(0);

}

to{

transform:translateX(-50%);

}

}


</style>