<section
id="location"
class="py-32 bg-white"
>

<div class="max-w-7xl mx-auto px-8">

    <div
    class="
    grid
    lg:grid-cols-2
    gap-16
    items-center
    "
    >


        <!-- LEFT CONTENT -->

        <div>

            <p
            class="
            uppercase
            tracking-[5px]
            text-teal-600
            font-semibold
            mb-5
            "
            >
                Location
            </p>


            <h2
            class="
            text-5xl
            lg:text-6xl
            font-bold
            text-slate-900
            leading-tight
            "
            >
                Visit Yap Wellness Center
            </h2>



            <div class="mt-10 space-y-6">


                <div class="flex items-start gap-4">

                    <div
                    class="
                    w-12
                    h-12
                    rounded-full
                    bg-teal-100
                    flex
                    items-center
                    justify-center
                    text-teal-600
                    text-xl
                    "
                    >
                        📍
                    </div>


                    <div>

                        <h3
                        class="
                        font-bold
                        text-slate-900
                        text-lg
                        "
                        >
                            Address
                        </h3>

                        <p class="text-slate-600">
                            YAP Wellness Center and Halfway House -
                            DOH Accredited
                        </p>

                    </div>

                </div>




                <div class="flex items-start gap-4">

                    <div
                    class="
                    w-12
                    h-12
                    rounded-full
                    bg-teal-100
                    flex
                    items-center
                    justify-center
                    text-teal-600
                    text-xl
                    "
                    >
                        📞
                    </div>


                    <div>

                        <h3
                        class="
                        font-bold
                        text-slate-900
                        text-lg
                        "
                        >
                            Contact
                        </h3>

                        <p class="text-slate-600">
                            0917 664 2004
                        </p>
                        

                    </div>

                </div>


            </div>


        </div>





        <!-- GOOGLE MAP -->

        <div
        class="
        h-[500px]
        w-full
        rounded-3xl
        overflow-hidden
        border
        border-slate-200
        shadow-xl
        "
        >

            <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3925.0077669056777!2d123.9055661!3d10.341263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999819ed965a7%3A0x543fdc15ad844773!2sYAP%20Wellness%20Center%20and%20Halfway%20House-DOH%20Accredited!5e0!3m2!1sen!2sph!4v1784100134144!5m2!1sen!2sph"
            class="w-full h-full"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="strict-origin-when-cross-origin">
            </iframe>


        </div>


    </div>


</div>

</section>