---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TrustCards from "../components/TrustCards.astro";
import About from "../components/About.astro";
import Structure from "../components/Structure.astro";
import Approach from "../components/Approach.astro";
import Admissions from "../components/Admissions.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout>

    <Navbar />

    <main>

        <Hero />

        <TrustCards />

        <About />

        <Structure />

		<Gallery />

        <Approach />

        <Admissions />

        <Location />

    </main>


    <Footer />

</Layout>